body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  padding: 0px;
}
.fl-topdiv{
  padding-top: 50px;
  background-color: #f2f5f6;
  height: 600px;
  display: flex;
  justify-content: center;
}
.fl-card{
  margin-top: 50px;
  height: 300px;
  width: auto;
  transition: 0.5s;
}
.fl-card:hover{
  transform: scale(1.1);
}
.tdhead{
  font-size: 30px;
  padding-top: 20px;
  color:#F5A425;
  font-weight: bold;
}
.img-rounded{
  border-radius: 100%;
}
.flconimg{
  height: 220px;
}

.card-cont{
  display: flex;
  gap: 50px;
}
.fl-info{
  font-size: 15px;
}
.lang-cont{
  display: flex;
  gap: 20px;
}
.lang-cont2{
  display: flex;
  gap: 20px;
}
.readbtn a{
  color: rgb(145, 145, 145);
  transition: 0.5s;
}
.readbtn a:hover{
  color: #F5A425;
  font-size: 16px;
  text-decoration: underline;
}
.bigimg{
  height: 350px;
}
.smallimg{
  height:150px; 
  width: 49.5%;
}

@media only screen and (max-width: 600px){
  .fl-topdiv{
    height: 1400px;
  }
  .card-cont{
    flex-direction: column;
  }
  .lang-cont{
    flex-direction: column;
  }
  .bigimg{
    height: auto;
    width: 100%;
  }
  .smallimg{
    display: none;
  }
  .lang-cont2{
    display: block;
  }
}